# Task 01

Take an input from the user, N,  and that input signifies the number of inputs to be taken further from the user. Then take N number of integer inputs from the user. Then you have to calculate the following of these from the N integer inputs.

<font color='red'> [You are not allowed to use the sum(), max(), min(), mean() functions]</font>

<font color='red'> [You are allowed to use the count() function]</font>

* Range (Highest Value - Lowest Value)
* Mean (Sum of all values/Number of Values)
* Mode (Highest occurring number in the N integer inputs )


===========================================================

**Sample Input 1 :**\
5\
1 2 2 3 4 

**Sample Output**\
Range = 3 

Mean = 2.4

Mode = 2

**Explanation:** 
Here, the maximum number is 4, minimum number is 1. Range = max-min=4-1=3. Mean = (sum of all the numbers)/total count of numbers = (1+2+2+3+4)/5 = 12/5 = 2.4. Lastly, 2 has occured maximum of 2 times. Hence, the mode is 2.


=============================================================



**Sample Input 1 :**\
1
1 

**Sample Output**\
Range = 0

Mean = 1.0

Mode = 2

**Explanation:** 
Here, the maximum number is 1, minimum number is 1. Range = max-min=1-1=0. Mean = (sum of all the numbers)/total count of numbers = (2)/2 = 1.0 . Lastly, 1 has occured maximum of 2 times. Hence, the mode is 2.

# Task 02

Write a Python program that takes a string as an input from the user. Then, counts the sum of the frequency of only three characters (‘C’, ‘S’, ‘E’) and counts the sum of the frequency all the characters excluding 'C', 'S', 'E', and any white spaces. Then prints the ratio of these two sums. \
<font color='red'> [You are not allowed to use the count() function]</font>


*Hint: The case is ignored (P and p are considered the same).* 


===========================================================

**Example1:**

**Input:**\
"This is my CSE110 final exam"

**Output:**\
The sum of the frequency of 'C', 'S', 'E': 6\
Letters excluding 'C', 'S', 'E' and space is: 17\
The ratio is: 2.8333333333333335

**Explanation:** \
Here in the input string, ‘c’ has appeared 1 times, ‘e’ has appeared 2 times and ‘s’ has appeared 3 times. So, the sum of the frequency of 'C', 'S', 'E': 1+2+3= 6. Letters excluding 'C','S','E', and space are: 17.\
So the ratio is (sum of letters excluding 'C','S','E' and space)/( sum of the frequency of 'C','S','E')= 17/6= 2.8333333333333335

==============================================================================

**Example2:** \
Input:   "There is no courage without the fear."

**Output:** \
The sum of the frequency of 'C', 'S', 'E': 7\
Letters excluding 'C', 'S', 'E' and space is: 24\
The ratio is: 3.4285714285714284

**Explanation:** \
Here in the input string, ‘c’ has appeared 1 time, ‘e’ has appeared 5 times and ‘s’ has appeared 1 time. So, the sum of the frequency of 'C', 'S', 'E': 1+5+1=7. Letters excluding 'C','S','E', and space are: 24. So the ratio is (sum of letters excluding 'C','S','E' and space)/( sum of the frequency of 'C','S','E')= 24/7= 3.4285714285714284

This is my CSE110 final exam
The sum of the frequency of 'C', 'S', 'E':' 6
Letters excluding 'C', 'S', 'E' and space is: 17
2.8333333333333335

# Task 03


Write a function which takes in a dictionary as an input. The keys will be the name of the courses that you had taken in the previous semester. It can be any number of courses but it will always be more than 3. And the corresponding values will be the total marks that you had got out of 100. The values can never be negative. Now calculate the average mark that you had achieved in the last semester. Your function will **return** the string “Highest distinction” or “High Distinction” or “No Distinction” based on the calculated average mark. What string will be returned will be based on the following criteria:

* Condition 1 : If  80 <= average marks <= 100 , return "Highest Distinction"
* Condition 2 : If  50 <= average marks <= 79 , return "High Distinction"
* Condition 3 : If  0 <= average marks <= 49 , return "No Distinction"


===========================================================


**Example1:** 

**Input1:**<br>
{'Bangla' : 90, 'English' : 90, 'Mathematics' : 94, 'Science' : 96 }

**Function Call1:**
Avg_Marks( {'Bangla' : 90, 'English' : 90, 'Mathematics' : 96, 'Science' : 96 } )

**Output1:** \
Highest Distinction

**Explanation1:** <br> 
Here, you had taken 4 courses in the previous semester and they are Bangla, English, Mathematics and Science. Out of a total 100 in each subject, you scored 90 in Bangla, 90 in English, 96 in Mathematics and 96 in Science. So the average mark of these 4 courses is 93. As the average mark satisfies Condition 1, that is the average is greater than or equal to 80 and less than or equal to 100, so the function will return the string "Highest Distinction".     

===========================================================

**Example2:** 

**Input2:**<br>
{'Bangla' : 20, 'English' : 30, 'Mathematics' : 50, 'Science' : 30 }

**Function Call1:**   
Avg_Marks( {'Bangla' : 20, 'English' : 30, 'Mathematics' : 50, 'Science' : 30 } )

**Output2:** \
"No Distinction"

**Explanation2:** <br> 
Here suppose you had taken 4 courses in the previous semester and they are Bangla, English, Mathematics and Science. Out of a total 100 in each subject, you scored 20 in Bangla, 30 in English, 50 in Mathematics and 30 in Science. So the average mark of these 4 courses is 32.5. As the average mark satisfies Condition 3, so the function will return the string "No Distinction". 


===========================================================

**Hint:** Average = sum of all the course marks / total number of courses

# Task 04


Take a name as an input from the user.

Your task is to ensure that the first letter of each word in a name must be in Uppercase and other letters in Lowercase.
A person may have more than one words in the name like: Hugh Jackman.
For this, you need to ensure that the first letter in each word of the names is in Uppercase.
Here, the letters “H” and “J” should be in uppercase and the other letters must be in Lowercase.

Now take a name as an input from the user and pass it as an argument to a function that takes a list as a parameter.

If the first letters are not in Uppercase, return “First characters of each word of a name must be in Uppercase.”

If any other characters are in uppercase, then return “Other than the first characters of each word of a name,
all characters shall be in lowercase.”

If the name was given as instructed, then simply print the name typed by the user.

You can NOT use the built-in functions isupper() and islower(). However, you may use the ord() function.

=============================================================

Sample Input 1:
Sam Thomas
Function Call: function_name("Sam Thomas")
Sample Output 1:
Name typed: Sam Thomas

=============================================================

Name typed: Sam Thomas

# Task 05
"""
Take an integer number from the user and then print the largest digit of that number.

[You are not allowed to use the max(), min(), sort(), sorted() functions here]

Hint :
You may assume that the input number is a non negative number.

================================

Sample input 1:
42375
Sample output 1:
7
Exxplaination: 7 is the largest digit in 42375

================================

Sample input 2:
60301
Sample output 2:
6
Explaination: 6 is the largest digit in 60301

# Task 06
"""
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧 𝟑:
Let's say every time you plan to go somewhere, you are confused about choosing a vehicle to your destination. You always have 3 choices and
they are by bus, motorcycle or car. You know that taking a car would be the most comfortable choice for sure but it will cost a lot.
You often fall under such situations and waste a lot of time calculating the fares and taking a decision. You know the per kilometer cost
for each transport and the base fare that is given below:

[Base fare is the minimum fare that you must give even if the cost calculated from the distance is less than it.
For example, your destination is 4 km away from your location. So the bus fare will be 5* 4 = 20 taka.
Although you should give only 20 taka, you have to pay the minimum base fare, which is 100 taka.]

-----------------------------------------------------------------------------------------
Vehicle                  Base Fare     Cost per Kilometer(Taka)
-----------------------------------------------------------------------------------------
Bus                          100                              5
-----------------------------------------------------------------------------------------
Motorcycle               60                              30
----------------------------------------------------------------------------------------
Car                            40                              50
---------------------------------------------------------------------------------------
Now write a function named “fareCalculator()” that will take the distance between your current location and destination as a parameter and
return the best choice of vehicle based on the minimum cost of the trip and print it .
You will take the distance in km as input and pass it as argument to your written function.

𝐒𝐚𝐦𝐩𝐥𝐞 𝐢𝐧𝐩𝐮𝐭:
2.2
𝐒𝐚𝐦𝐩𝐥𝐞 𝐂𝐨𝐝𝐞:
print(fareCalculator(2.2))
𝐒𝐚𝐦𝐩𝐥𝐞 𝐎𝐮𝐭𝐩𝐮𝐭:
Motorcycle


𝐒𝐚𝐦𝐩𝐥𝐞 𝐢𝐧𝐩𝐮𝐭:
5.6
𝐒𝐚𝐦𝐩𝐥𝐞 𝐂𝐨𝐝𝐞:
print(fareCalculator(5.6))
𝐒𝐚𝐦𝐩𝐥𝐞 𝐎𝐮𝐭𝐩𝐮𝐭:
Bus
"""

In [24]:
#try
def fareCalculator(n):
    dict_1={"Bus":[100,5],"Motorcycle":[60,30],"Car":[40,50]}

    motor=0
    bus=0
    car=0
    min_val=0
    if min_val==0:
        x=abs(dict_1["Bus"][0]-(dict_1["Bus"][1]*n))
        y=abs(dict_1["Motorcycle"][0]-(dict_1["Motorcycle"][1]*n))
        z=abs(dict_1["Car"][0]+(dict_1["Car"][1]*n))
    #     print(x)
    #     print(y)
    #     print(z)
        if x>y:
            min_val=y
            return "Motorcycle"
        elif y>x:
            min_val=x
            return "Bus"
        elif z>y:
            min_val=y
            return "Motorcycle"
        elif z>x:
            min_val=x
            return "Bus"
        else:
            min_val=z
            return "Car"
n=float(input('Enter the number: '))
val=fareCalculator(n)
print(val)

Enter the number: 5.6
Bus