# Quiz - 4 @aninda

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 1
Write a python function that takes a list of numbers(integer) and a\
number(integer) as arguments. Your task is to identify pairs of numbers\
from the list whose ABSOLUTE difference is equal to the 2nd\
argument(number). If such a pair of numbers don’t exist in the list, then\
print ‘Not Possible’. Otherwise, print those pairs in a list format INSIDE\
the function.

<font color='darkcyan'>Note:  You need to use the built-in function abs(number1, number2) to get\
the difference between two numbers.</font>

================================================

**Function Call1:**\
function_name([1, 17, 22, 38, 5, 11], 5)

**Sample Output1:**\
[[17, 22]]

**Explanation1:**\
The difference between 17 and 22 is 5.  17- 22 = 5(absolute value). So, the\
output pair is [17, 22]. Since there are no other pairs, only [17, 22] is\
printed in the answer list.

================================================

**Function Call2:**\
function_name([1, 5, 9, 15, 74], 4)

**Sample Output2:**\
[[1, 5], [5, 9]]

**Explanation2:**\
The difference between 1 and 5 is 4.\
1- 5 = 4(absolute value). So, the output pair is [1, 5].

Again, The difference between 5 and 9 is 4.\
5- 9 = 4(absolute value). So, the output pair is [5, 9].

Since, there are no other pairs, except  [1, 5] and [5, 9]. So, these are\
added and printed in the answer list.

================================================
**Function Call3:**\
function_name([1, 5, 9, 13], 5)

**Sample Output3:**\
Not Possible

**Explanation3:**\
In this case, there is no pair that gives a difference of 5. So, “NotPossible” is printed.

In [24]:
#Todo

[[1, 5], [5, 9]]

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 2
Write a python function that takes a string as an argument. Then converts\
this string using the following three rules and finally RETURNS a new\
string to the function call.

If the string is one character long, leave it alone.\
If the string ends with a vowel (a, e, i, o, u), just add ‘yay’ to the\
beginning of the string. (e.g., “apple” => “yayapple”)\
Otherwise, the last letter of the string is moved to the front and ‘ay’ is\
appended to the end (e.g., “dalek” => “kdaleay”)

Assume, the argument string will always be in lowercase letters without any\
spaces.\
**<font color='red'>[ You cannot use slicing. You cannot use any built-in functions\
except input(), len(), split(), list.append(). ]</font>**

================================================

**Function call1:**\
function_name("b")

**Sample Output 1:**\
b

**Explanation 1:**\
Here, the length of the string is 1, so no modification was done to it.

================================================

**Function call2:**\
function_name("apple")

**Sample Output 2:**\
yayapple

**Explanation 2:**\
Here, the length of the string is greater than 1, and it ends with a vowel.\
So, “yay” was added at the beginning of the string.

================================================

**Function call3:**\
function_name("dalek")

**Sample Output 3:**\
kdaleay

**Explanation 3:**\
Here, the length of the string is greater than 1, and it does not end with\
a vowel. So, the last character ‘k’ was moved to the beginning of the\
string, and ‘ay’ was added at the end.

In [7]:
#Todo

enter the string_1: dalek
kdaleay

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 3
Write a function that takes a list as an argument. The list will contain a\
mixture of integers and letters. Your function should return a modified\
list so that --\
If the number of integers is twice the number of letters, then the list\
should contain 2 integers followed by 1 letter consecutively.\
If the number of letters is 3 times the number of integers (the ratio is 3:1),\
then the list should contain 3 letters followed by 1 integer consecutively.\
For other cases, arrange the integers and letters alternatively.

================================================

**Function Call1:**\
function_name(['2', 'r', '6', '7', 'a', '4', 'b', '7', '9', 'c', 'd', '5', '3', '7', '0'])

**Sample Output1:**\
['2', '6', 'r', '7', '4', 'a', '7', '9', 'b', '5', '3', 'c', '7', '0', 'd']

**Explanation1:**\
Since there are 10 integers and 5 letters, the list has been arranged\
according to condition 1.

================================================

**Function Call2:**\
function_name(['r', 'g', '3', 'u', 's', 'f', '8', '6', 's', 'a', 'f', 'i'])

**Sample Output2:**\
['r', 'g', 'u', '3', 's', 'f', 's', '8', 'a', 'f', 'i', '6']

**Explanation2:**\
Since there are 3 integers and 9 letters, the list has been arranged\
according to condition 2.

================================================
**Function Call3:**\
function_name(['2', '6', 't', '5', 'a', 'd', 's', 'f', '7', 'i', 'j', '9', 'a', '4', 'b'])

**Sample Output3:**\
['2', 't', '6', 'a', '5', 'd', '7', 's', '9', 'f', '4', 'i', 'j', 'a', 'b']

**Explanation3:**\
Since there are 6 integers and 9 letters, the list has been arranged\
according to condition 3. The extra letters at the end are left as it was.

=============================================

In [3]:
#Todo

['r', 'a', 'b', 'c', 'd']
['2', '6', '7', '4', '7', '9', '5', '3', '7', '0']
['2', '6', 'r', '7', '4', 'a', '7', '9', 'b', '5', '3', 'c', '7', '0', 'd']

26r26a26b26c26d
['2', '6', 'r', '2', '6', 'a', '2', '6', 'b', '2', '6', 'c', '2', '6', 'd']

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 4
Write a python function that takes a dictionary as an argument. In that\
dictionary,  the name of the students will be the key and a list of courses\
will be the value.\
Inside the function, you have to take a course name as input until the user\
gives 'STOP' in the input. Your task is to display the list of the students\
taken that course after each input.

================================================

Given Dictionary:

    given_dict = { 'Mike' : ['CSE110','ENG101','MAT110'],              
                  'Simon' : ['CSE111','PHY111','MAT110', 'CSE230'],
                  'Shawn' : ['CSE110','ENG101','MAT120','CSE230'],
                  'Alice' : ['CSE110','ENG091','MAT092']  }
  
================================================

**Function call1:**\
function_name(given_dict)

**Sample Input 1:**\
CSE110\
MAT110\
CSE260\
STOP

**Sample Output 1:**\
[ 'Mike', 'Shawn', 'Alice' ]\
[ 'Mike', 'Simon']\
[ ]

**Explanation 1:**\
Mike, Shawn, and Alice are doing CSE110.\
Mike and Simon are doing MAT110.\
No student is doing CSE260.\

================================================

**Function call2:**\
function_name(given_dict)

**Sample Input 2:**\
CSE111\
MAT110\
STOP

**Sample Output 2:**\
[ 'Simon' ]\
[ 'Mike', 'Simon']

**Explanation 2:**\
Simon is doing CSE111\
Mike and Simon are doing MAT110

In [1]:
#Todo

Enter the course name: CSE110
['Mike', 'Shawn', 'Alice']
Enter the couser name: ENG101
['Mike', 'Shawn']
Enter the couser name: ENG091
['Alice']
Enter the couser name: STOP

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 5
Write a python function that takes a string as an argument where multiple\
numbers are separated by commas. Your task is to create a dictionary that\
will have the index of the list as key and summation from start to that\
index as value. Finally, Return the dictionary.

================================================

**Function Call1:**\
function_name("3,1,5,4,6,7,8")

**Sample Output 1:**\
{0: 3, 1: 4, 2: 9, 3: 13, 4: 19, 5: 26, 6: 34}

**Explanation 1:**\
key 0 → value 3\
key 1 → value 3+1\
key 2 → value 3+1+5\
key 3 → value 3+1+5+4\
and so on...

================================================

**Function Call2:**\
function_name("5,1,3,7,4,8")

**Sample Output 2:**\
{0:5, 1:6, 2:9, 3:16, 4:20, 5:28}

**Explanation 2:**\
key 0 → value 5\
key 1 → value 5+1\
key 2 → value 5+1+3\
and so on...

In [33]:
#Todo

{0: 3, 1: 4, 2: 9, 3: 13, 4: 19, 5: 26, 6: 34}

## Que𝘀𝘁𝗶𝗼𝗻 - 6

Assume on a planet called **<font color='Chocolate'>“Chocolatey”</font>**, 1 month = 20 days and 1 year = 240\
days = 12 months.  Write a function Days that takes 2 arguments: a start\
date and the last date. Then calculates the number of days between these\
two dates(inclusive) and returns it to the function call.\
Assume, the start and last date will be given in dd/mm/yyyy format.

================================

**Function Call1:**\
function_name("3/8/2018", "12/12/2020")

**Sample Output1:**\
570

================================

**Function Call2:**\
function_name("3/8/2020", "12/12/2020")\

**Sample Output2:**\
90

================================

**Function Call3:**\
function_name("3/8/2018", "3/9/2020")

**Sample Output3:**\
501

================================

**Function Call4:**\
function_name("3/8/2018", "10/8/2020")

**Sample Output4:**\
488

In [8]:
#Todo

240

117

## 𝗤𝘂𝗲𝘀𝘁𝗶𝗼𝗻 - 7
Write a python function that takes a string as an argument and searches all\
the characters having multiple occurrences (except the spaces) in that\
string. Then, prepare and RETURN a dictionary where the keys will be the\
characters and values will be the positions of those characters in the string.

================================================

**Function Call1:**\
function_name("this is my first semester.")

**Sample Output 1:**\
{‘t’: [0, 15, 22],‘h’:[1], ‘i’: [2, 5, 12], ‘s’:[3, 6, 14, 17, 21],\
 ‘m’: [8,19], ‘y’: [9], ‘f’:[11], ‘r’: [13, 24], ‘e’: [18, 20, 23]}

**Explanation1:**\
Here, the character ‘t’ has appeared in indexes 0, 15, and 22. The\
character ‘h’ has appeared in index 1.  The character ‘i’ has appeared in\
indexes 2, 5, and 12. And so on.

================================================

**Function Call2:**\
function_name("my student id is 010101.")

**Sample Output 2:**\
{‘m’:[0],’y’:[1],‘s’: [3, 15], ‘t’: [4, 9],’u’:[5],’e’:[7],’n’:[8],\
 ‘d’: [6, 12], ‘i’: [11, 14], ‘0’: [17,19,21],’1’: [18,20,22]}

**Explanation2:**\
The character ‘m’ has appeared in index 0. The character ‘s’ has appeared\
in indexes 3 and 15.  The character ‘1’ has appeared in indexes 18, 20, and\
22. And so on.

In [36]:
#Todo

{'t': [0, 15, 22], 'h': [1], 'i': [2, 5, 12], 's': [3, 6, 14, 17, 21], 'm': [8, 19], 'y': [9], 'f': [11], 'r': [13, 24], 'e': [18, 20, 23]}